<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->

{% extends 'principal_templates/base.html' %}
{% block page_title %} Add Subject {% endblock page_title %}
{% block breadcrumb %}Add Subject Form{% endblock breadcrumb %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Subject Information</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/save_subject_information" method="post">
            {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                    <label>Subject Name</label>
                    <input type="text"
                    name="subjectName" class="form-control form-control-border border-width-2" placeholder="Enter subject name">
                </div>
                <div class="form-group">
                    <label>Course</label>
                   <select name="course" class="form-control">
                    {% for c in courses %}
                    <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
                   </select>
                </div>
                <div class="form-group">
                    <label>Teacher</label>
                   <select name="teacher" class="form-control">
                       {% for s in staff %}
                       <option value="{{s.id}}">{{s.first_name}} {{s.last_name}}</option>
                       {% endfor %}
                   </select>
                </div>
                <div class="form-group">
                  {%if messages%}
                  {% for message in messages %}
                  {% if message.tags == "error" %}
                    <div id="fail" class="alert alert-danger">{{message}}</div>
                  {% endif %}
                  {% if message.tags == "success" %}
                    <div id="fail" class="alert alert-success">{{message}}</div>
                  {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add New Subject</button>
              </div>
            </form>
          </div>
    </div>
</section>
{% endblock main-content %}