{% extends 'principal_templates/base.html' %}
{% block page_title %} Add Staff {% endblock page_title %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Staff Information</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            {% url 'save_staff' as action_path %}
            {% include 'principal_templates/form_template.html' with messages=messages form=form action_path=action_path text_button="Add New Staff Member"%}
          </div>
    </div>
</section>
{% endblock main-content %}
{% block base_js %}

<script>
  /* CU ACEST SCRIPT VERIFICAM DACA EMAIL-UL INTRODUS ESTE DEJA ASOCIAT UNUI ALT PROFESOR.*/
  $(document).ready(function(){
    $("#id_email").keyup(function(){
      var email = $(this).val();

      if(email!=""){
      $.ajax({
        url: '{% url 'check_if_email_exist' %}',
        type: 'POST',
        data: {email: email},
      })
      .done(function(response){
        console.log(response)
        if(response=="True"){
          $(".error").remove();
          $("<span class='error' style='padding: 5px;font-size: 15px;color: red;font-weight: bold'>Email already being used.</span>").insertAfter("#id_email");
        }
        else{
          $(".error").remove();
          $("<span class='error' style='padding: 5px;font-size: 15px;color: green;font-weight: bold'>Email available.</span>").insertAfter("#id_email");
        }

      })
      .fail(function(){
        console.log("failed")
      })
    }
    else{
      $(".error").remove();
    }
      })

      /* CU ACEST SCRIPT VERIFICAM DACA USERNAME-UL INTRODUS ESTE DEJA ASOCIAT UNUI ALT PROFESOR.*/
      $("#id_username").keyup(function(){
        var username = $(this).val();
  
        if(username!= ""){
        $.ajax({
          url: '{% url 'check_if_username_exist' %}',
          type: 'POST',
          data: {username: username},
        })
        .done(function(response){
          console.log(response)
          if(response=="True"){
            $(".error2").remove();
            $("<span class='error2' style='padding: 5px;font-size: 15px;color: red;font-weight: bold'>Username already being used.</span>").insertAfter("#id_username");
          }
          else{
            $(".error2").remove();
            $("<span class='error2' style='padding: 5px;font-size: 15px;color: green;font-weight: bold'>Username available.</span>").insertAfter("#id_username");
          }
  
        })
        .fail(function(){
          console.log("failed")
        })
      }
      else{
        $(".error2").remove();
      }
        })
    })
</script>
{% endblock base_js %}