<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->
{% extends 'principal_templates/base.html' %}
{% block page_title %} Add Course {% endblock page_title %}
{% block breadcrumb %}Add Course Form{% endblock breadcrumb %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Course Information</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            {% url 'save_course' as action_path %}
            {% include 'principal_templates/form_template.html' with messages=messages form=form action_path=action_path text_button="Add New Course"%}
          </div>
    </div>
</section>
{% endblock main-content %}