{% extends 'principal_templates/base.html' %}
{% block page_title %} Edit Student : <span style="color: red;">{{ username }}</span>#{{id}}{% endblock page_title %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <!-- /.card-header -->
            <!-- form start -->
            {% url 'edit_student_information' as action_path %}
            {% include 'principal_templates/form_template.html' with messages=messages form=form action_path=action_path text_button="Make Changes"%}
          </div>
    </div>
</section>
{% endblock main-content %}