<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->

{% extends 'principal_templates/base.html' %} 
{% block page_title %} Principal Dashboard {% endblock page_title %} 
{% block breadcrumb %}Dashboard{% endblock breadcrumb %} 
{% block main-content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{students}}</h3>
            <p>Total Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-person"></i>
          </div>
          <a href="{% url 'manage_student' %}" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{courses}}</h3>
            <p>Total Courses</p>
          </div>
          <div class="icon">
            <i class="ion ion-easel"></i>
          </div>
          <a href="{% url 'manage_course' %}" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{subjects}}</h3>
            <p>Total Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
          <a href="{% url 'manage_subject' %}" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{teachers}}</h3>
            <p>Total Teachers</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-stalker"></i>
          </div>
          <a href="{% url 'manage_staff' %}" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <!-- PIE CHART -->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Student and Staff Chart</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="remove"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas
              id="pieChart"
              style="
                min-height: 250px;
                height: 250px;
                max-height: 250px;
                max-width: 100%;
              "
            ></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-lg-6">
         <!-- DONUT CHART -->
         <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Subjects per Course</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
    </div>
    <div class="row"> 
        <div class="col-lg-6">
            <div class="card card-green">
                <div class="card-header">
                  <h3 class="card-title">Students per Course</h3>
      
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas
                    id="pieChart2"
                    style="
                      min-height: 250px;
                      height: 250px;
                      max-height: 250px;
                      max-width: 100%;
                    "
                  ></canvas>
                </div>
                <!-- /.card-body -->
              </div>
        </div>
        <div class="col-lg-6">
           <!-- BAR CHART -->
         <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">Students Leaves vs Attendance</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart">
              <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
    </div>
  </div>
</section>
{% endblock main-content %} {% block base_js %}
<script>
  $(document).ready(function(){
    var pieData = {
        labels: ["Students", "Teachers"],
        datasets: [
          {
            data: [{{students}}, {{teachers}}],
            backgroundColor: [
              "#f56954",
              "#00a65a",
            ],
          },
        ],
      };
      var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
      var pieData = pieData;
      var pieOptions = {
        maintainAspectRatio: false,
        responsive: true,
      };
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      new Chart(pieChartCanvas, {
        type: "pie",
        data: pieData,
        options: pieOptions,
      });


    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var subject_count = {{subject_count}};
    var course_name = {{course_name|safe}};
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: course_name,
      datasets: [
        {
          data: subject_count,
          backgroundColor : ['#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    });

  
  //ACESTA ESTE CEL DE AL TREILEA GRAFIC
    var student_count = {{student_count}};

    var pieData2 = {
      labels: course_name,
      datasets: [
        {
          data: {{student_count}},
          backgroundColor: [
            "#f56954",
            "#00a65a",
            "#004ba0",
            "#ff844c",
            
          ],
        },
      ],
    };
    var pieChartCanvas = $("#pieChart2").get(0).getContext("2d");
    var pieData = pieData2;
    var pieOptions = {
      maintainAspectRatio: false,
      responsive: true,
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: "pie",
      data: pieData,
      options: pieOptions,
    });

  //BAR CHART

  var student_present_list = {{student_present_list}}
  var student_absent_list  ={{student_absent_list}}
  var student_name_list = {{student_name_list | safe}}
  var areaChartData = {
    labels  : student_name_list,
    datasets: [
      {
        label               : 'Absent',
        backgroundColor     : 'rgba(60,141,188,0.9)',
        borderColor         : 'rgba(60,141,188,0.8)',
        pointRadius          : false,
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : student_absent_list
      },
      {
        label               : 'Present',
        backgroundColor     : 'rgba(210, 214, 222, 1)',
        borderColor         : 'rgba(210, 214, 222, 1)',
        pointRadius         : false,
        pointColor          : 'rgba(210, 214, 222, 1)',
        pointStrokeColor    : '#c1c7d1',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data                : student_present_list
      },
    ]
  }

    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
    });
</script>
{% endblock base_js %}
