<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->

{% extends 'principal_templates/base.html' %}
{% block page_title %} Manage Staff {% endblock page_title %}
{% block breadcrumb %}Staff Members List{% endblock breadcrumb %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 style="font-size: 25px; font-weight:bold;"class="card-title">Staff Members List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Date Joined</th>
                    <th>Last Login</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for s in staff %}
                  <tr>
                    <td>{{s.admin.id}}</td>
                    <td>{{s.admin.first_name}}</td>
                    <td>{{s.admin.last_name}}</td>
                    <td>{{s.admin.username}}</td>
                    <td>{{s.admin.email}}</td>
                    <td>{{s.address}}</td>
                    <td>{{s.admin.date_joined}}</td>
                    <td>{{s.admin.last_login}}</td>
                    <th><a href="{% url 'edit_staff' staff_id=s.admin.id %}">Edit</a></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
</section>
{% endblock main-content %}