<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->

{% extends 'principal_templates/base.html' %}
{% block page_title %} Manage Courses {% endblock page_title %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 style="font-size: 25px; font-weight:bold;"class="card-title">Courses List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Course Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for c in courses %}
                  <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <th><a href="{% url 'edit_course' course_id=c.id %}">Edit</a></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
</section>
{% endblock main-content %}