<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->

{% extends 'principal_templates/base.html' %}
{% block page_title %} Manage Subjects {% endblock page_title %}
{% block main-content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 style="font-size: 25px; font-weight:bold;"class="card-title">Subjects List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Subject Name</th>
                    <th>Course Name</th>
                    <th>Course ID</th>
                    <th>Teacher</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for s in subjects %}
                  <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.courseId.name}}</td>
                    <td>{{s.courseId.id}}</td>
                    <td>{{s.staffId.first_name}} {{s.staffId.last_name}}</td>
                    <th><a href="/edit_subject/{{s.id}}">Edit</a></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
</section>
{% endblock main-content %}