<!--- PAGINA CU CONTENTUL PRINCIPAL CE SE VA INCARCA DINAMIC-->
{% extends 'principal_templates/base.html' %}
{% block main-content %}
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3>Subjects List</h3>
      </div>
      <div class="card-body">
        <div id="students_table_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table id="students_table" class="table table-bordered table-striped dataTable dtr-inline"
                aria-describedby="example1_info">
                <thead>
                  <tr>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Browser: activate to sort column ascending">Subject Name</th>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Rendering engine: activate to sort column ascending" aria-sort="ascending">Course Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="CSS grade: activate to sort column ascending">Teacher</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="CSS grade: activate to sort column ascending">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for s in subjects %}
                  <tr style="text-align: center;">
                    <td>{{s.name}}</td>
                    <td>{{s.courseId.name}}</td>
                    <td>{{s.staffId.first_name}} {{s.staffId.last_name}}</td>
                    <th><a href="{% url 'edit_subject' subject_id=s.id %}">Edit</a></th>
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock main-content %}
{% block base_js %}
<script>
  $(function () {
    $("#students_table").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "pageLength": 10,
      "lengthChange": true,
      "buttons": ["copy", "csv", "excel", "pdf", "print",]
    }).buttons().container().appendTo('#students_table_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock base_js%}