<ul class="navbar-nav ml-auto">
    <li style="margin-right: 20px;" class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li style="margin-right: 20px;display: flex; align-items: center"class="nav-item">
      <a style="font-size:20px;" href="/principal_dashboard">Home</a>
    </li>
    <li style="margin-right: 20px;display: flex; align-items: center"class="nav-item" class="nav-item">
      <a style="font-size:20px; color: red;" href="/logout">Logout</a>
    </li>
</ul>