{% extends 'student_templates/base.html' %} 
{% block page_title %} Contact Information {% endblock page_title %}
{% block main-content %}
<section class="content">
  <div class="card card-solid">
    <div class="card-body pb-0">
      <div class="row">
        {% for p in principal  %}
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="ribbon-wrapper ribbon-lg">
            <div class="ribbon bg-success text-md">
              PRINCIPAL
            </div>
          </div>
          <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 style="font-weight: bold;font-size: 25px;"class="lead"><b>{{p.first_name}} {{p.last_name}}</b></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        {% for s in staff  %}
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="card bg-light d-flex flex-fill">
            <div class="ribbon-wrapper ribbon-lg">
              <div class="ribbon bg-primary text-md">
                Teacher
              </div>
            </div>
            <div class="card-header text-muted border-bottom-0">
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 style="font-size:25px; font-weight: bold; margin-bottom: 25px;"class="lead"><b>{{s.first_name}} {{s.last_name}}</b></h2>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li style="margin-bottom: 15px;" class="small d-flex  align-items-center">
                      <span class="fa-li"
                        ><i class="fas fa-lg fa-building"></i
                      ></span>
                      {{s.staff.address}}
                    </li>
                    <li style="margin-bottom:15px;" class="small d-flex align-items-center">
                        <span class="fa-li"
                          ><i class="fas fa-lg fa-phone"></i
                        ></span>
                       +{{s.staff.phone_number}}
                      </li>
                      <li  style="margin-bottom:15px;" class="small d-flex align-items-center">
                        <span class="fa-li"
                          ><i class="fas fa-lg fa-envelope"></i
                        ></span>
                        {{s.email}}
                      </li>
                      <li class="small d-flex align-items-center">
                        <span class="fa-li"
                          ><i class="fas fa-lg fa-user"></i
                        ></span>
                        {{s.staff.gender}}
                      </li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img
                    src="{{s.staff.profile_picture}}"
                    alt="user-avatar"
                    class="img-circle img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="https://api.whatsapp.com/send?phone={{s.staff.phone_number}}" class="btn btn-sm bg-teal" target="_blank">
                  <i class="fas fa-comments">&nbsp;</i>Send Message
                </a>
                <a href="tel:{{s.staff.phone_number}}" class="btn btn-sm bg-primary" target="_blank">
                    <i class="fas fa-phone">&nbsp;</i>Call Teacher
                  </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock main-content %}
