{% extends 'student_templates/base.html' %} 
{% block page_title %}
{% endblock page_title %} 
{% block main-content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title" style="font-size: 20px;">{{request.user}}'s Attendance at {{subject.name}} Course </h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <div class="card-body">
        <div class="row">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="font-size: 25px;"><b>DATE</b></th>
                <th style="font-size: 25px;"><b>STATUS</b></th>
              </tr>
            </thead>
            {% for r in report %}
            <tbody>
              <tr>
                <td style="font-size: 20px;">{{r.attendanceID.date}}</td>
                {% if r.status == True %}
                <td style="color: green; font-weight:bold; font-size: 20px;">Present</td>
                {% else %}
                <td style="color: red; font-weight:bold; font-size: 20px;">Absent</td>
                {% endif %}
              </tr>
            </tbody>
            {% endfor %}
          </table>        
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main-content %}