<ul class="navbar-nav ml-auto">
  <li class="nav-item d-sm-inline-block">
    <a href="{% url 'student_dashboard' %}" class="nav-link">Home</a>
  </li>
  <li class="nav-item d-sm-inline-block">
    <a href="{% url 'logout' %}" id="logout" class="nav-link">Logout</a>
  </li>
    <li style="margin-right: 20px;" class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li style="margin-right: 20px; " class="nav-item  d-none d-sm-inline-block">
      <div style="margin-top: 6px;" id="google_translate_element"></div>
    </li>
</ul>